$pink: hsl(322, 100%, 66%);
$pale-cyan: hsl(193, 100%, 96%);
$dark-cyan: hsl(192, 100%, 9%);
$grayish-blue: hsl(208, 11%, 55%);

html,
body {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}

h2,
h3 {
  font-family: Poppins, sans-serif;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

header {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  background: url("images/bg-hero-desktop.svg");
  background-size: contain;
  background-color: $pale-cyan;
  padding: 32px 60px;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
  .max-width {
    // max-width: 1440px;
  }
}

.hero {
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 4em;

  .hero-text {
    flex: 2;
  }
  .hero-image {
    flex: 3;
    img {
      width: 100%;
    }
  }
}

main {
  display: flex;
  justify-content: center;
  .container {
    max-width: 1200px;
    padding: 200px 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
    .item {
      display: flex;

      padding: 20px;
      padding-left: 100px;
      // display: grid;
      // grid-template-areas:
      //   "a c"
      //   "b c";
      // gap: 20px;
      // align-content: center;
      // box-shadow: rgb(210, 210, 210) 0 0 10px 0;
      // border-radius: 10px;

      // > :first-child {
      //   grid-area: a;
      //   align-self: end;
      //   margin: 0;
      // }
      // > :nth-child(2) {
      //   grid-area: b;
      //   align-self: start;
      //   margin: 0;
      // }

      // > img {
      //   grid-area: c;
      //   width: 100%;
      // }
    }
  }
}

footer {
  padding: 16px;
  background-color: $dark-cyan;
  * {
    color: #f3ffff;
  }
  .container {
  }
}
